<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Student Estimator</title>
    <meta name="description" content="To calculate total number of students">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link href="index.css" rel="stylesheet">
    <link href="total/total.css" rel="stylesheet">
</head>

<body class="d-flex flex-column sticky-footer-wrapper">
    <main class="container-fluid  flex-fill">

        <div class="row">
            <article id="total" class="col-md-4 ">
                <p> This is to calculate the total </p>
                <fieldset class="mt-2">
                    <label for="input1">Enter count of courses (1 to 100):</label>
                    <input v-model="input1" id="input1" type="number" min="1" max="100">
                    <span id="Warning" class="text-danger"></span>
                </fieldset>
                <fieldset class="mt-2">
                    <label for="input2">Enter average of courses (1 to 100):</label>
                    <input v-model="input2" id="input2" type="number" min="1" max="100">
                    <span id="secondWarning" class="text-danger"></span>
                </fieldset>
                <h3 class="mt-2">{{result}}</h3>
            </article>
        </div>

    </main>
    <footer class="footer mt-auto py-3 bg-light">
        <div class="container">
            <span class="text-muted">Right-click / Inspect / Console</span>
            &#9670;
            <a href="https://navyadevineni.github.io/studentsEstimator/">Demo</a>
            &#9670;
            <a href="https://github.com/navyadevineni/studentsEstimator">Source</a>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.10/js/mdb.min.js"></script>
    <script src="./total/total.js"></script>
</body>

</html>